:root {
	--first-color: #01161e;
	--second-color: #124559;
	--third-color: #598392;
	--quarter-color: #aec3b0;
	--fifth-color: #eff6e0;
}

html {
	box-sizing: border-box;
	font-family: sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--first-color);
	font-size: 16px;
}

.container {
	text-align: center;
	width: 100%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container__title {
	color: var(--fifth-color);
	margin-top: 1rem;
}

input[type='search'] {
	margin: 1rem auto;
	padding: 0.2rem 1rem;
	outline: none;
	color: var(--fifth-color);
	font-weight: bold;
	font-size: 1.1rem;
	width: 20rem;
	border: 2px solid var(--fifth-color);
	background-color: var(--first-color);
	border-radius: 30px;
	transition: 0.3s;
}

.grid-fluid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	text-align: center;
}

.not_found {
	color: var(--fifth-color);
	font-size: 1.5rem;
}

.card {
	background-color: var(--third-color);
	position: relative;
	transition: 0.3s;
	border: 2px solid var(--fifth-color);
}

.card:hover {
	box-shadow: 5px 5px 5px var(--second-color), 10px 10px 10px var(--second-color);
}

.card {
	max-width: 250px;
	margin: 20px;
	position: relative;
}

.card__div {
	padding: 1rem;
}

.img {
	width: 100%;
	max-width: 200px;
	height: auto;
}

.link {
	width: 100%;
	padding: 0.5rem 4.384rem;
	color: var(--quarter-color);
	background-color: var(--first-color);
	position: relative;
	text-decoration: none;
	right: 0;
	left: 0;
	top: 0.2rem;
	transition: 0.3s;
}

.card__title {
	text-decoration: underline;
	color: #000;
}

.card__content {
	padding: 1rem;
	text-align: justify;
}

.card__content > *,
b {
	font-weight: lighter;
}

.loader {
	width: 100px;
	display: block;
	margin: auto;
	height: auto;
	transform: translateY(50%);
}
